<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <title>Aula</title>

    <style>
        .component-fade-enter-active,
        .component-fade-leave-active {
            transition: opacity .3s ease;
        }

        .component-fade-enter,
        .component-fade-leave-to

        /* .component-fade-leave-active below version 2.1.8 */
            {
            opacity: 0;
        }

        .dark {
            color: #fff;
            background-color: #000;
        }

        .light {
            color: #fff;
            background-color: #666;
        }
    </style>
</head>

<body>
    <div id="app">
        <br><br><br>

        <div class="container">
            <h1 ref="title">{{ titulo }}</h1>

            <br>

            <ul>
                <li>
                    <router-link :to="{ name: 'transformers' }">Transformers</router-link>
                </li>
                <li>
                    <router-link :to="{ name: 'gameOfThrones' }">Game of Thrones</router-link>
                </li>
                <li>
                    <router-link to="/arrow">Arrow</router-link>
                </li>
            </ul>

            <br>

            <router-view></router-view>
        </div>
    </div>

    <template id="transformers">
        <div>
            <div class="row">
                <div :class="[ 'col', sidebar ]">
                    Sidebar
                </div>

                <div class="col">
                    <h3>Transformers</h3>
                    <ul>
                        <li v-for="item in transformers">
                            <router-link :to="{ name: 'transformersContent', params: {name: item.slug} }"> {{
                                item.name }} </router-link>
                        </li>
                    </ul>
                </div>
                <div class="col">
                    <router-view></router-view>
                </div>
            </div>
        </div>
    </template>

    <template id="gameOfThrones">
        <div>
            <h3>Game Of Thrones</h3>
            <ul>
                <li v-for="item in gameOfThrones">{{ item.name }}</li>
            </ul>
        </div>
    </template>

    <template id="transformersContent">
        <div>
            <h3>Conteúdo Transformers</h3>

            {{ $route.params.name }}
        </div>
    </template>

    <template id="error404">
        <div>
            <h1>Página não encontrada</h1>
            <p>Ops! Parece que está página não existe.</p>
        </div>
    </template>

    <script src="https://unpkg.com/vue"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.3"></script>
    <script src="https://unpkg.com/vue-router@3.5.2/dist/vue-router.js"></script>

    <script>
        var transformers = Vue.component('transformers', {
            template: "#transformers",
            props: {
                sidebar: String,
            },
            created() {
                console.log(this.sidebar);
            },
            data() {
                return {
                    transformers: [
                        { name: 'Optimus Prime', slug: 'optimus-prime' },
                        { name: 'Bumble Bee', slug: 'bumble-bee' },
                        { name: 'Megatron', slug: 'megatron' },
                    ],
                }
            }
        });

        var gameOfThrones = Vue.component('game-of-thrones', {
            template: "#gameOfThrones",
            data() {
                return {
                    gameOfThrones: [
                        { name: 'Jon Snow' },
                        { name: 'Daenerys Targaryen' },
                        { name: 'Tyron' },
                    ]
                }
            }
        });

        var transformersContent = Vue.component('transformers-content', {
            template: '#transformersContent',
        });

        var error404 = Vue.component('error404', {
            template: '#error404'
        });

        //mode: 'history' serve para tirar a # da url... exemplo.com/#/transformers
        var router = new VueRouter({
            mode: 'history',
            routes: [
                { path: '/', name: 'home' },
                {
                    path: '/transformers', name: 'transformers', component: transformers,
                    props: { sidebar: 'light' },
                    children: [
                        { path: ':name', name: 'transformersContent', component: transformersContent }
                    ]
                },
                { path: '/game-of-thrones', redirect: { name: 'transformersContent', params: { name: 'megatron' } }, name: 'gameOfThrones', component: gameOfThrones },
                { path: '*', name: 'error404', component: error404 },
            ]
        });

        var app = new Vue({
            el: "#app",
            router,
            created() {
                console.log('this.$router :>> ', this.$router); // Para utilizar funcionalidades do plugin
                console.log('this.$route :>> ', this.$route); // Rota ROOT
                // this.$router.push({ name: 'transformersContent', params: { name: 'megatron' } });
            },
            data: {
                titulo: "VueJS study",
            },
        });
    </script>
</body>

</html>